.projects__projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__item {
    display: flex;
    gap: 5px;
    width: 280px;
    height: 160px;
    background-color: #efefef;
    border-radius: 20px;
    border: 1px solid #aaa;
    padding: 20px;

    div:nth-child(1) {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      transition-duration: 0.2s;
    }
  }

  &__placeholder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 160px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #efefef;
    padding: 20px;
  }

  h1 {
    font-size: 1.1em;
  }

  p {
    flex: 1;
    color: #aaa;
  }

  span {
    font-size: 0.9em;
    color: #aaa;
  }
}
