MOD=dev
PORT=8080

PROJECTS__API__HOST=0.0.0.0
PROJECTS__API__PORT=8080
PROJECTS__API__ACCOUNT_HEADER=x-account-id
PROJECTS__GENERAL__PLANS_LIMIT=20
PROJECTS__GENERAL__PROJECTS_LIMIT=20
PROJECTS__POSTGRES__HOST=postgres
PROJECTS__POSTGRES__PORT=5432
PROJECTS__POSTGRES__DB=postgres
PROJECTS__POSTGRES__USER=postgres
PROJECTS__POSTGRES__PASSWORD=password
