@use "../../styles/semantic" as s;

.mesh-hint {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  font-weight: 400;

  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background-color: black;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
