MOD=dev
PORT=8080

GENERATOR__API__HOST=0.0.0.0
GENERATOR__API__PORT=80
GENERATOR__API__ACCOUNT_HEADER=x-account-id
GENERATOR__OPENAI__API_KEY=***
GENERATOR__OPENAI__BASE_URL=***
GENERATOR__POSTGRES__HOST=postgres
GENERATOR__POSTGRES__PORT=5432
GENERATOR__POSTGRES__USER=postgres
GENERATOR__POSTGRES__PASSWORD=postgres
GENERATOR__POSTGRES__DB=postgres
GENERATOR__GATEWAY__BASE_URL=http://private-gateway/api
GENERATOR__LOGGING__LEVEL=INFO
