@use "../../shared/styles/semantic" as s;

.prompt-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: s.$color-bg-50;
  padding: 10px;
  border: 1px solid s.$color-bg-300;
  border-radius: 5px;

  > textarea {
    outline: none;
    border: none;
    background: transparent;
    resize: vertical;
    min-height: calc(2 * s.$font-size-default);
    max-height: calc(20 * s.$font-size-default);
  }

  &__options {
    display: flex;
    gap: 10px;
  }
}
