* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--x-font-size);
  text-decoration: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 0.9rem;
}

h1 {
  font-size: 1.2rem;
}
