.plan-editor__button {
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  transition-duration: 0.2s;
  background-color: white;

  &:hover {
    background-color: #eee;
  }

  &__active {
    outline: none;
    border: 2px solid hotpink;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    transition-duration: 0.2s;
    background-color: white;
  }

  &__disabled {
    outline: 2px solid transparent;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    opacity: 0.2;
    font-weight: bold;
    background-color: white;
  }

  &__icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
  }
}
