.project__info {
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.2s;
  background-color: white;
}

.project__info:hover {
  background-color: #eee;
}

.project__info__dialog {
  position: absolute;
  top: 30px;
  border: 1px solid #ddd;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  background-color: white;

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
