.sync-button {
  outline: none;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  transition-duration: 0.2s;
  background-color: white;

  &:hover {
    background-color: #eee;
  }

  &__disabled {
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    transition-duration: 0.2s;
    background-color: white;
    opacity: 0.25;
  }
}
