@use "sass:color";

// Distances
$d-0: 0;
$d-1: 1rem;
$d-2: 2rem;
$d-3: 3rem;
$d-4: 4rem;
$d-5: 5rem;
$d-6: 6rem;

// Layers
$z-0: 0;
$z-1: 1;
$z-2: 2;
$z-3: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
$z-7: 7;
$z-8: 8;
$z-9: 9;
$z-10: 10;

$font-size-sm: 0.85rem;
$font-size-md: 1rem;
$font-size-lg: 2rem;

$gap-sm: 5px;
$padding-sm: 5px;
$radius-sm: 5px;

$shadow-0: rgba(17, 17, 26, 0.05) 0px 0px 2px;
$shadow-1: rgba(17, 17, 26, 0.1) 0px 0px 16px;

@mixin bbox($color: white, $radius: $radius-sm, $padding: $padding-sm) {
  border-radius: $radius;
  border: 1px solid color.change($color, $blackness: 20%);
  background-color: $color;
  padding: $padding;
}

@mixin highlighted-bbox($radius: $radius-sm, $padding: $padding-sm) {
  border-radius: $radius;
  border: 1px solid hotpink;
  background-color: #fcafd5;
  padding: $padding;
}
