$white-0: white;
$white-1: #eee;
$white-2: #aaa;
$white-3: black;

$surface-0: $white-0;
$surface-1: $white-1;
$surface-2: $white-2;

$primary-0: rgb(255, 105, 180);
$primary-1: rgb(254, 122, 188);
$primary-2: rgb(254, 161, 207);
