@use "primitive" as p;

$text-color-default: p.$color-neutral-1000;

$text-size-body-md: 10px;
$text-size: 10px;

$border-radius-sm: p.$d-1;
$border-radius-md: p.$d-2;
$border-radius-lg: p.$d-3;

$color-bg-0: p.$color-neutral-0;
$color-bg-500: p.$color-neutral-500;
$color-border-500: p.$color-neutral-600;

$padding-sm: p.$d-1;
$padding-md: p.$d-2;
$padding-lg: p.$d-3;
