MOD=dev
PORT=8080

AUTH__API__HOST=0.0.0.0
AUTH__API__PORT=80
AUTH__BETTER_AUTH__BASE_URL=http://localhost:8080/auth
AUTH__BETTER_AUTH__SECRET=some-random-string
AUTH__BETTER_AUTH__TRUSTED_ORIGINS=http://localhost:3000,http://localhost:8080
AUTH__POSTGRES__DB=postgres
AUTH__POSTGRES__USER=postgres
AUTH__POSTGRES__PASSWORD=postgres
AUTH__POSTGRES__HOST=postgres
AUTH__POSTGRES__PORT=5432
