@use "../../shared/styles/semantic" as s;

.avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: s.$color-bg-100;
  user-select: none;

  * {
    width: inherit;
    height: inherit;
  }

  &--interactive {
    box-shadow: s.$color-bg-200 0px 0px 0px 1px;
    transition-duration: 0.125s;

    &:hover {
      box-shadow: s.$color-bg-200 0px 0px 0px 3px;
    }
  }

  &--small {
    width: 40px;
    height: 40px;
  }
}
