@use "../../styles/base";
@use "../../styles/colors";

.account__sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  @include base.bbox();

  p {
    margin-bottom: 1rem;
  }

  input {
    outline: none;
    @include base.bbox();

    &:focus {
      border-color: colors.$primary-0;
      box-shadow: base.$shadow-1;
    }
  }

  button {
    @include base.bbox();

    &:hover {
      @include base.bbox($color: colors.$surface-1);
    }
  }
}
