// Distances
$d-0: 0;
$d-100: 0.4rem;
$d-200: 0.8rem;
$d-300: 1.2rem;
$d-400: 1.6rem;
$d-500: 2rem;
$d-6: 6rem;

// Layers
$z-0: 0;
$z-1: 1;
$z-2: 2;
$z-3: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
$z-7: 7;
$z-8: 8;
$z-9: 9;
$z-10: 10;

// Colors
$color-primary-300: rgb(254, 161, 207);
$color-primary-400: rgb(254, 122, 188);
$color-primary-500: rgb(255, 105, 180);
$color-primary-800: rgb(96, 29, 63);
$color-neutral-0: white;
$color-neutral-50: #f8f8f8;
$color-neutral-100: #eee;
$color-neutral-200: #ddd;
$color-neutral-300: #ccc;
$color-neutral-400: #bbb;
$color-neutral-500: #aaa;
$color-neutral-600: #999;
$color-neutral-700: #888;
$color-neutral-800: #555;
$color-neutral-900: #222;
$color-neutral-1000: black;
$color-danger-500: rgb(203, 20, 20);

// Fonts
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-size-300: 10px;
$font-size-400: 12px;
$font-size-500: 14px;
$font-size-600: 16px;
$font-size-700: 18px;
