@use "../../shared/styles/semantic" as s;

.notification-popup {
  &__item {
    padding: 10px;
    background-color: s.$color-bg-100;
    border: 1px solid s.$color-bg-300;
    border-radius: 5px;

    > span {
      color: s.$color-fg-500;
    }
  }

  &__item--error {
    padding: 10px;
    background-color: s.$color-bg-100;
    border: 1px solid s.$color-border-danger-500;
    border-radius: 5px;

    > span {
      color: s.$color-fg-500;
    }
  }

  &__container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
