@use "../../styles/base";
@use "../../styles/colors";

.notifications__notification-popup {
  @include base.bbox();

  &__error {
    @include base.bbox($color: hotpink);
  }

  &__container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
