MOD=dev
PORT=8080
MINIO_CONSOLE_PORT=9001

ASSETS__API__HOST=0.0.0.0
ASSETS__API__PORT=80
ASSETS__MINIO__HOST=minio
ASSETS__MINIO__PORT=9000
ASSETS__MINIO__ACCESS_KEY=minio-user
ASSETS__MINIO__SECRET_KEY=minio-password
ASSETS__LOGGING__LEVEL=INFO
