@use "../../../../shared/styles/semantic" as s;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__static-data {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
  }

  &__register-date {
    font-size: s.$font-size-sm;
    color: s.$color-fg-500;
  }

  &__email {
    font-size: s.$font-size-md;
  }

  &__actions {
    display: flex;
    justify-content: end;
    gap: 10px;
  }
}
