@use "../shared/styles/semantic" as s;

.home-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: s.$color-bg-0;

  &__container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
    max-width: 700px;
    min-width: 500px;
  }

  &__header {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 10px;
  }
}
