@use "../../../shared/styles/semantic" as s;

.furniture-catalog {
  ::-webkit-scrollbar {
    width: 0px;
  }

  position: absolute;
  top: 70px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid s.$color-border-500;
  box-shadow: s.$shadow-default;
  border-radius: 10px;
  background-color: white;
  height: 500px;
  max-width: 400px;
  min-width: 300px;
  z-index: 10;

  &__feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: s.$color-bg-50;
    border-radius: 5px;
    border: 3px solid transparent;
    box-shadow: s.$color-bg-200 0px 0px 0px 1px;
    transition-duration: 0.125s;

    &:hover {
      box-shadow: s.$color-bg-300 0px 0px 0px 3px;
    }

    span {
      color: s.$color-fg-600;
    }
  }

  &__filters {
    padding: 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
}
