MOD=dev
GENERATOR__OPENAI__API_KEY=pza_***
GENERATOR__OPENAI__BASE_URL=https://polza.ai/api/v1
FRONTEND__API_GATEWAY__BASE_URL=http://localhost:8080
AUTH__BETTER_AUTH__SECRET=some-long-string
AUTH__BETTER_AUTH__BASE_URL=http://localhost:8080
AUTH__BETTER_AUTH__TRUSTED_ORIGINS=http://localhost:3000,http://localhost:8080
MINIO__USER=minio-user
MINIO__PASSWORD=minio-password
POSTGRES__USER=postgres
POSTGRES__PASSWORD=postgres
POSTGRES__DB=postgres
LOGGING__LEVEL=INFO
# Or:
# CATALOG__LOGGING__LEVEL=INFO
# GENERATOR__LOGGING__LEVEL=INFO
# EXPORTER__LOGGING__LEVEL=INFO
# PROJECTS__LOGGING__LEVEL=INFO
# ASSETS__LOGGING__LEVEL=INFO
