@use "../../styles/base";
@use "../../styles/colors";

.prompts__chat {
  & > ::-webkit-scrollbar {
    width: 0px;
  }

  position: absolute;
  top: 70px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: base.$shadow-1;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  height: 500px;
  z-index: 10;

  & > p {
    padding: 10px;
    font-size: 0.9em;
    opacity: 0.8;
  }

  &__history {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
  }

  &__input {
    min-width: 200px;
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    button {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      @include base.bbox(colors.$white-0);
      transition-duration: 0.2s;

      &:hover {
        box-shadow: base.$shadow-1;
      }
    }
  }
}
